<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signupPage</title>
</head>
<body>
    <h1>login</h1>
   <form method="post" action="/user/login">
   
    <label>Enter your email</label>
    <input type="email" required name="email" />

    <label>Enter your password</label>
    <input type="password" required name="password" />

    <button type="submit">Submit</button>
</form>

   
</form>
</body>
</html>